build/

GPATH
GRTAGS
GTAGS

.gdb_history

/cmake-build-debug/
/.idea/
/.clang-format
__pycache__/
/cmake-build-debug-system/
/src/adapter/posix/cmake-build-debug-system/CMakeFiles/clion-log.txt
/adapter/test/posix/Testing/Temporary/LastTest.log
