name: doxygen
on:
  push:
    branches: [ master ]
  workflow_dispatch:

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Debug
  LOCAL: local

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - name: Get Sources
        uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v1

      - name: Cache Spack packages
        uses: actions/cache@v2
        id: spack-cache
        with:
          path: ~/${{ env.LOCAL }}
          key: ${{ runner.os }}-${{ hashFiles('ci/**') }}

      - name: Install APT Dependencies
        run: |
          sudo apt update
          sudo apt-get install -y autoconf
          sudo apt-get install -y automake
          sudo apt-get install -y libtool
          sudo apt-get install -y libtool-bin
          sudo apt-get install -y mpich
          sudo apt-get install -y lcov
          sudo apt-get install -y zlib1g-dev
          sudo apt-get install -y libsdl2-dev
          sudo apt-get install -y graphviz
          sudo apt-get install -y doxygen

      - name: Build And Install Dependencies
        if: steps.spack-cache.outputs.cache-hit != 'true'
        run: ci/install_deps.sh

      - name: Build and Test
        run: ci/install_docs.sh

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: ./build/_build/html
          destination_dir: html
          github_token: ${{ secrets.GITHUB_TOKEN }}
